/* auto css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* manual css */

.container {
    width: 800px;
    background-color: whitesmoke;
    margin: auto;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 35px;
    font-weight: bold;
}

.atas {
    height: 250px;
    background-image: url('Images/logo.png');
    /* background-size: cover; */
    height: 200px;
    padding: 25px;
    /* resize: both; */
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    /* margin: auto; */
}

body {
    background-color: #eaeaea;
    color: #666;
}

h1 {
    text-align: center;
}

#usr,
#pss,
#remember {
    margin-top: 10px;
    text-align: center;
}

.user {
    margin-left: -160px;
    font-size: 20px;
}

input.username,
input.password,
input.nama,
input.alamat,
input.email,
input#pass,
input.repass {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
}

.pass {
    margin-left: -160px;
    font-size: 20px;
}

#remember {
    font-size: 20px;
}

#btnLog {
    padding: 1%;
}

#log {
    margin: auto;
    display: block;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    background-color: blue;
}

p {
    text-align: center;
    font-size: 20px;
}

.background {
    background-color: red;
}

#lblNama,
#lblTTL,
#lblAlamat,
#lblKota,
#lblUser,
#lblEmail,
#lblPass,
#lblRePass {
    margin-top: 10px;
    text-align: center;
}

select#selectYear,
select#selectMonth,
select#selectDate,
select#selectKota {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
}

.namaa,
.tanggalLahir,
.address,
.city,
.users,
.e_mail,
.passwords,
.repasswords {
    font-size: 20px;
}

.namaa {
    margin-left: -193px;
}

.tanggalLahir {
    margin-left: -127px;
}

.address {
    margin-left: -180px;
}

.city {
    margin-left: -196px;
}

.users {
    margin-left: -153px;
}

.e_mail {
    margin-left: -187px;
}

.passwords {
    margin-left: -157px;
}

.repasswords {
    margin-left: -85px;
}

#sign_in {
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    background-color: blue;
}