/* auto css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* manual css */

.container {
    width: 800px;
    background-color: whitesmoke;
    margin: auto;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 35px;
    font-weight: bold;
}

.atas {
    background-image: url('Images/logo.png');
    background-position: center;
    height: 200px;
    padding: 25px;
    background-repeat: no-repeat;
}

body {
    background-color: #eaeaea;
    color: #666;
}

h1 {
    text-align: center;
}

#confirmpss,
#usr,
#pss,
#remember {
    margin-top: 10px;
    text-align: center;
}

#usr {
    margin-top: 20px;
    text-align: center;
}

.user {
    font-size: 20px;
}

input.username,
input#username,
input.password,
input.nama,
input.alamat,
input.email,
input#pass,
input#repass {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
}

::-webkit-input-placeholder {
    text-align: center;
}

.pass {
    font-size: 20px;
}

#remember {
    font-size: 20px;
}

#btnLog {
    padding: 2%;
    margin-top: -5px;
}

#log {
    margin: auto;
    display: block;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    background-color: blue;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

.background {
    background-color: red;
    -webkit-text-fill-color: black;
}

#lblNama,
#lblTTL,
#lblAlamat,
#lblUser,
#lblEmail,
#lblPass,
#lblKota,
#lblRePass,
#pilih {
    margin-top: 10px;
    text-align: center;
}

select#pilihPenyakit {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    box-shadow: 2px 2px 3px #666;
    font-size: 12px;
    padding: 10px 7px;
    outline: 0;
}

select#selectYear,
select#selectMonth,
select#selectDate {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 10.3%;
    box-shadow: 2px 2px 3px #666;
    font-size: 12px;
    padding: 4px 7px;
    outline: 0;
}

select#selectKota {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 32%;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
}

.namaa,
.tanggalLahir,
.address,
.city,
.users,
.e_mail,
.passwords,
.repasswords {
    font-size: 20px;
}

#userlength {
    position: absolute;
    margin-left: -180px;
    margin-top: 5px;
}

#wronginput {
    text-align: center;
    color: red;
}

#harus {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    color: red;
}

#valttl,
#valkota,
#userauth,
#require,
#message {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

#sign_in,
#btnMulai {
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    background-color: blue;
}

.nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: lightblue;
}

.menuKiri {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}

.menuKiri a {
    text-decoration: none;
    color: #666;
}

.menuKanan {
    position: absolute;
    top: 15px;
    right: 10px;
}

.menuKanan a {
    text-decoration: none;
    padding: 15px;
    color: #666;
}

.menuKiri a:hover,
.menuKanan a:hover {
    color: white;
}

#halonama {
    float: left;
    font-size: 20px;
    display: inline;
    padding: 15px;
}

#pp {
    float: left;
    width: 45px;
    height: 45px;
    padding: 2.5px;
}

form input {
    text-align: center;
}

.blok {
    height: 50px;
}

option {
    text-align: center;
}

#popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
}

.window {
    width: 400px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    margin: 15% auto;
}

.window h2 {
    margin: 30px 0 0 0;
}

/* Button Close */
.close-button {
    width: 6%;
    height: 20%;
    line-height: 23px;
    background: #000;
    border-radius: 50%;
    border: 3px solid #fff;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* Memunculkan Jendela Pop Up*/
#popup:target {
    visibility: visible;
}

/*pilihan menu pada halaman utama admin*/
.pilihanMenu {
    position: absolute;
    top: 5px;
    left: 5px;
}

.pilihanMenu a {
    text-decoration: none;
    padding: 15px;
}

.pilihanMenu a:hover {
    color: white;
}

#upfile {
    display: none;
}

#displayPicture {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

#lblFoto {
    text-align: center;
}

.profile {
    display: flex;
}

.foto,
.profil {
    margin: auto;
    float: left;
    font-size: 20px;
}